@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* Estilo Geral */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis gerais de estilo*/
:root{
    --bg: #F8EDE3;
    --font-color: #111111;
    font-size: 12px;
}

body {
    background-color: var(--bg);
    color: var(--font-color);
    font-family: 'Inter', sans-serif, Arial, Helvetica;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/*=============== MENU DROPDOWN ==============*/

.menu-h {
    font-size: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    background-color: #333;
    overflow: hidden;
}

.menu-h a {
    display: block;
    padding: 1em;
    color: white;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111111;
}

li {
    float: left;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #F1F1F1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*===========================================*/

main {
    position: relative;
    min-height: 100%;
    margin: 0px 20px;
    height: 100%;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
}

img {
    opacity: .5;
}

img:hover {
    opacity: 1;
}

p {
    font-size: 1.5rem;
    text-align: justify;
}

.img-box {
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 18px;
    margin-bottom: 4px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
}

.footer-content p{
    text-align: center;
    color: white;
}

/*========== Estilo Chinesa ========== */

.titulo-chines {
    text-align: center;
}

.menu {
    overflow: hidden;
    background-color: #333;
    position: relative;
    top: 0;
    height: 100%;
}

.menu a{
    float: flex;
    align-content: center;
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover{
    background: #DDD;
    color: black;
}

.container-chines{
    overflow: auto;
}

.topo-content {
    margin-bottom: 100px;
    margin-right: 15px;
    margin-left: 50px;
}
.topo-content img {
    float: left;
    margin: 15px 0 18px 14px;
    width: 350px;
    height: auto;
    padding-left: 75px;
    padding-right: 20px;
}

.baixo-content p {
    margin-left: 125px;
    margin-bottom: 100px;
}

.baixo-content img{
    float: right;
    margin-left: 55px;
}

.menu-c {
    font-size: 1.5rem;
    position: fixed;
    display: block;
    flex-flow: column;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: auto;
    width: 10%;
    height: 100%;
}

.menu-c a {
    display: flex; 
    padding: 1em;
    color: white;
}

li a, .dropbtn-c {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111111;
}

li {
    float: left;
}

.dropdown-c {
    display: inline-block;
}

.dropdown-content-c {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-c a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content-c a:hover{
    background-color: #F1F1F1;
}

.dropdown-c:hover .dropdown-content-c {
    display: block;
}

.hr-china {
    width: 75%;
    margin-left: 150px;
}

/*========== Estilo Romana =========== */

.rodape p {
    text-align: center;
    color: white;
}

.page-container{
    position: relative;
    min-height: 100%;
}

.container {
    padding: 0px 16px;
    box-sizing: border-box;
}

.content-left {
    float:left;
    width: 47%;
    margin-right: 16px;
}
.content-right {
    float: right;
    width: 47%;
}

.img-item {
    width: 350px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.5;
    margin-bottom: 90px;
}

.img-item:hover{
    opacity: 1;
}

/*========== Estilo Galeria =========== */

/*==================================== */